{% if user.is_authenticated %}
  <div class="row my-3 justify-content-md-center" >
    <ul class="nav glass nav-tabs justify-content-md-center">
      <li class="nav-item">
        <a 
          class="nav-link {% if index %}active{% endif %}"
          href="{% url 'posts:index' %}" style="color:white"
        >
          Все авторы
        </a>
      </li>
      <li class="nav-item">
        <a 
           class="nav-link {% if follow %}active{% endif %}"
           href="{% url 'posts:follow_index' %}" style="color:white"
        >
          Избранные авторы
        </a>
      </li>
    </ul>
  </div>
{% endif %}
