{% extends "base.html" %}
{% load static %}

{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <div class="container py-5">
      <div class="row">
        <div class="col-12">
          <h1>Дмитрий Квитковский</h1>
        </div>
      </div>
    </div>
    <div class="container py-5">
        <div class="row glass" style="background:linear-gradient(0deg, rgba(240, 244, 254, 0.63), rgba(240, 244, 254, 0.63));">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <p>
            Мне 31 год, есть двое прекрасных детей - Даниил и Кирилл, жена - Виктория, собака - Джессика.
            Моя семья очень помогает мне в обучении и создании чего-то нового. Стать лучше, знать больше.
            Радуются в месте со мной, когда у меня получается, поддерживают когда не могу решить ошибку в коде.
            Правда любят шуметь когда я погружен в проект, и ругаются если я уже 3 часа ночи, а я все решаю проблему в коде.
            </p>
            <p>
            Работаю управляющим в сети Ломбардов. 
            Так же прикладываю все оставшиеся силы на изучение программирование.
            Есть цель стать стать Data science разработчиком, и как альтернативу Fullstack разработчиком
            Есть одно но, проходя спринты по Django понимаю, что Fullstack возможно не мое.
            К концу обучения увидим.</p>
          <p>Интерес к программированию появился еще в 2009 году, но обстоятельства в жизни решили, что обучение нужно отложить.
            Дальше меня ждал карьерный трек в сфере продаж, где и удалось получить и наработать навыки.
            И вот настал тот день, когда я решился воплотить, юношеские мечты об изучении программирования.
          </p>
          <p>Еще я люблю аналитику.</p>
          <p>Но посмотрев, что проходят на данном курсе, все мои знания об OLAP, макросах, функциях
            кажутся незначительными. При помощи кода, можно решить столько вопросов в аналитике, вернее автоматизировать.
          </p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <img src="{% static 'img/author.jpg' %}">
        </div>
      </div>
    </div>
    <div class="container glass" style="background:linear-gradient(0deg, rgba(240, 244, 254, 0.63), rgba(240, 244, 254, 0.63));">
        <div class="row ">
        <div class="col-12">
          <h2>Мои Проекты</h2>
        </div>
      </div>
      <div class="row ">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <p><a href="https://github.com/Mangekos/hw_python_oop">Модуль фитнес-трекера</a></p>
          <p><a href="https://github.com/Mangekos/hw02_community">Текущий проект на Django</a></p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-5">
          <p><a href="https://github.com/Mangekos/character_creation_module">Модуль создания персонажа для RPG игры</a></p>
        </div>
      </div>
      <div class="row ">
        <div class="col-12">
          <h2>Контакты для связи</h2>
        </div>
      </div>
      <div class="row " >
        <div class="col-12">
          <p>Телефон: +7 (928) 619-15-72</p>
          <p>Почта: <a href="mailto: mangekos@yandex.ru">mangekos@yandex.ru</a></p>
          <p>Discord: <a href="https://discordapp.com/users/400009832759033856/">Mangeko#4732</a></p>
          <p>Telegram: <a href="https://t.me/Dkvitkovsky">Dkvitkovsky</a></p>
        </div>
      </div>
    </div>
{% endblock %} 
